@{
    ViewBag.Title = "Home Page";
}


<!doctype html>
<html lang="en">

<body>
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(/medi/img/slider-2.jpg);">

            <div class="container">
                <div class="row slider-text align-items-center">
                    <div class="col-md-7 col-sm-12 element-animate">
                        <h1>CPM Scientifica</h1>
                        <p>Se preocupa por el cuidado de tu salud y la de tu familia.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image: url(/medi/img/slider-1.jpg);">
            <div class="container">
                <div class="row slider-text align-items-center">
                    <div class="col-md-7 col-sm-12 element-animate">
                        <h1>CPM Scientifica</h1>
                        <p>Provee soluciones para hacer mejores los hospitales y distintos centros de salud.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END slider -->

    <section class="container home-feature mb-5">
        <div class="row">
            <div class="col-md-4 p-0 one-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-hospital-bed"></span>
                    <h2>Productos</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/Product/Index" class="btn-more">Entrar</a>
            </div>
            <div class="col-md-4 p-0 two-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-first-aid-kit"></span>
                    <h2>Ventas</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/Sale/Index" class="btn-more">Entrar</a>
            </div>
            <div class="col-md-4 p-0 one-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-hospital-bed"></span>
                    <h2>Registros</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/Register/Index" class="btn-more">Entrar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-0 one-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-hospital-bed"></span>
                    <h2>Mercado Temporal</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/AuthorityTempMarket/Index" class="btn-more">Entrar</a>
            </div>
            <div class="col-md-4 p-0 three-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-hospital"></span>
                    <h2>Inscripciones</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/Inscription/Index" class="btn-more">Entrar</a>
            </div>
            <div class="col-md-4 p-0 three-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-hospital"></span>
                    <h2>Cambios</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/Change/Index" class="btn-more">Entrar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-0 one-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-hospital-bed"></span>
                    <h2>Fabricantes</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/Maker/Index" class="btn-more">Entrar</a>
            </div>
            <div class="col-md-4 p-0 two-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-first-aid-kit"></span>
                    <h2>Fabricantes Extranjeros</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/ForeignMaker/Index" class="btn-more">Entrar</a>
            </div>
            <div class="col-md-4 p-0 two-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-first-aid-kit"></span>
                    <h2>Revisiones</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/YearlyRevision/Index" class="btn-more">Entrar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 p-0 two-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-first-aid-kit"></span>
                    <h2>Encuestas</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/Inquest/Index" class="btn-more">Entrar</a>
            </div>
            <div class="col-md-4 p-0 three-col element-animate">
                <div class="col-inner p-xl-5 p-lg-5 p-md-4 p-sm-4 p-4">
                    <span class="icon flaticon-hospital"></span>
                    <h2>Quejas</h2>
                    <p>
                        Somos una empresa del sector hospitalario desde 1986. Producimos y ofertamos una amplia gama de productos innovadores, y poseemos proyectos sanitarios por todo el mundo.
                        Ven y aprende más sobre nosotros.
                    </p>
                </div>
                <a href="http://localhost:57007/Wail/Index" class="btn-more">Entrar</a>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="section stretch-section">
        <div class="container">
            <div class="row justify-content-center mb-5 element-animate">
                <div class="col-md-8 text-center mb-5">
                    <h2 class="text-uppercase heading border-bottom mb-4">Por qué Nosotros</h2>
                    <p class="mb-0 lead">
                        Por la calidad de nuestros productos, hemos sido partícipes de la realización de hospitales o centros de salud
                        como el Hospital Quelimane en Mozambique, el Hospital de Sidone en Libano, el Hospital San Juan de Dios en Colombia, los hospitales de Thaoua y Zinder en Niger,
                        el Health Center Douze en Turquia, además proporcionamos medicinas, diagnósticos, mobiliario sanitario a hospitales en Bosnia, Sierra Leona,
                        Nueva Guinea, Haiti, Ucrania, Angola, Guatemala, Tanzania y otros países con programas E.C.H.O de la UE.
                    </p>
                </div>
            </div>
            <div class="row align-items-center">

                <div class="col-md-6 stretch-left-1 element-animate" data-animate-effect="fadeInLeft">
                    <a href="https://youtu.be/X8KLCI9rknk" class="video"><img src="~/myimag/e5.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="col-md-6  pl-md-6 pl-0 element-animate" data-animate-effect="fadeInLeft">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="media d-block media-feature text-center">
                                <div class="media-body">
                                    <a href="https://youtu.be/X8KLCI9rknk" class="video"><img src="~/myimag/cpm5.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="media d-block media-feature text-center">
                                <div class="media-body">
                                    <a href="https://youtu.be/X8KLCI9rknk" class="video"><img src="~/myimag/cpm4.jpg" alt="" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 element-animate">
                <div class="col-md-8 text-center mb-5">
                    <h2 class="text-uppercase heading border-bottom mb-4">Espíritu de Trabajo</h2>
                    <p class="mb-0 lead">
                        Nuestro espíritu de trabajar en equipo y la excelente calidad de nuestros productos nos ha permitido suministrar materiales
                        a empresas de construcción, a compañías petroleras(Agip Recherches), a ONG, a Cruz Roja Italiana, se han proporcionado ambulancias para emergencias y terapias intensivas especialmente
                        en lugares donde las condiciones climáticas llegan a temperaturas extremas. En colaboración con LIFE de Roma, se ha realizado, por parte de la ONU, una Unidad Móvil alimentada totalmente por energía solar y destinada a El Salvador.
                    </p>
                </div>
            </div>
            <div class="row element-animate">
                <div class="major-caousel js-carousel-1 owl-carousel">
                    <div>
                        <div class="media d-block media-custom text-center">
                            <img src="~/myimag/1.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <p>
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <img src="~/myimag/4.png" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <p>
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <img src="~/myimag/2.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <p>
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <img src="~/myimag/5.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <p>
                                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                    <a href="#" class="p-2"><span class="fa fa-linkedin"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>



                </div>
                <!-- END slider -->
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="cover_1" style="background-image: url(/myimag/e4.jpg);">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-10">
                    <h2 class="heading element-animate">Experimenta Nuestras Avanzadas Facilidades</h2>
                    <p class="sub-heading element-animate mb-5">
                        Amplia gama de productos innovadores para la química clínica, tales como la Homocisteína, la Cistatina C, Creatina PAP y productos para la microbiología
                        como Hemocultivos, medios de transporte, sistema de identificación microbiana y pruebas de susceptibilidad.
                    </p>
                    <p class="element-animate"><a href="http://localhost:57007/Home/Contact" class="btn btn-primary btn-lg">Contáctanos</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->


    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 element-animate">
                <div class="col-md-8 text-center mb-5">
                    <h2 class="text-uppercase heading border-bottom mb-4">Calidad &amp; Producción</h2>
                    <p class="mb-0 lead">
                        Gracias a su eficiencia en términos de calidad y de procesos de producción, CPM SAS ha obtenido la certificación
                        de la norma ISO 9001:2008, ISO 13485:2004 y desde el 2012 es Corporative member del IFCC.
                    </p>
                </div>
            </div>
            <div class="row element-animate">
                <div class="major-caousel js-carousel-2 owl-carousel">
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/cpm1.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 8</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/2.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 2</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/cpm2.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 5</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/1.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 7</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/pic2.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 1</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/e5.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 4</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/medi/img/img_thumb_3.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 12</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/e1.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 14</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/cpm7.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 14</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-left">
                            <img src="~/myimag/cpm6.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <span class="meta-post"></span>
                                <h3 class="mt-0 text-black"><a href="#" class="text-black"></a></h3>
                                <p class="clearfix">
                                    <a href="#" class="float-left">Ver</a>
                                    <a href="#" class="float-right meta-chat"><span class="ion-chatbubble"></span> 14</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END slider -->
            </div>
        </div>
    </section>


    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 element-animate">
                <div class="col-md-8 text-center mb-5">
                    <h2 class="text-uppercase heading border-bottom mb-4">Revisa las notificaciones</h2>
                    <p class="mb-0 lead">
                        Revisa el estado de las propiedades tanto de los productos
                        como de los fabricantes que deben ser actualizadas con aviso previo.
                    </p>
                    <p class="element-animate"><a href="http://localhost:57007/Alert/Index" class="btn btn-warning btn-lg fa fa-warning fa-lg">PRODUCTOS</a></p>
                    <p class="element-animate"><a href="http://localhost:57007/AlertMaker/Index" class="btn btn-warning btn-lg fa fa-warning fa-lg">FABRICANTES</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->


</body>
</html>